<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>19/02/25 11:46:16</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/25 11:46:16</td>   <td>371</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/25 11:46:16</td>   <td>378</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/25 11:46:17</td>   <td>911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/25 11:46:26</td>   <td>9482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.login(java.lang.String, java.lang.String)[pri:0, instance:cookCountytest.TC001_Login@520a3426]">login</td> 
  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/25 11:46:52</td>   <td>36255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/25 11:46:53</td>   <td>36443</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:cookCountytest.TC001_Login@520a3426]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
</table>
