<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:13:07</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:16</td>   <td>-51435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:cookCountytest.TC001_Login@6f1fba17]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:39</td>   <td>-27854</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:16</td>   <td>-50951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod(java.lang.String)[pri:0, instance:cookCountytest.TC001_Login@6f1fba17]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:39</td>   <td>-27807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod(java.lang.String)[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:16</td>   <td>-51592</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:12:39</td>   <td>-27916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:cookCountytest.TC001_Login@6f1fba17]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/02/25 13:13:05</td>   <td>-2274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/25 13:12:20</td>   <td>-47202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.login(java.lang.String, java.lang.String)[pri:0, instance:cookCountytest.TC001_Login@6f1fba17]">login</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/25 13:12:50</td>   <td>-17027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.login(java.lang.String, java.lang.String)[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">login</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/25 13:12:16</td>   <td>-51435</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:cookCountytest.TC001_Login@6f1fba17]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/02/25 13:12:39</td>   <td>-27854</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:cookCountytest.TC001_Login@1f36e637]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
</table>
